<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trautmann.simplechatapp">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".app.ScaApplication"
        android:theme="@style/AppTheme">

        <activity android:name=".view.InitSessionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.MainActivity" />

        <activity android:name=".view.ChatDetailActivity"
            android:parentActivityName=".view.MainActivity"/>

        <activity
            android:name=".view.ProfileActivity"
            android:label="@string/profile_title"
            android:parentActivityName=".view.MainActivity"/>

    </application>

</manifest>
